<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - Math Plugin</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="../dist/reveal.css">
		<link rel="stylesheet" href="../dist/theme/whiteme.css" id="theme">
		<style>
			div.fixed {
			position: fixed;
			top: 0;
			right: -70px;
			width: 300px;
			}
		</style>
		<style>
		div.fijo {
		position: fixed;
		bottom:-100px;
		right: -100px;
		width: 500px;
		}
	</style>
<style>
	ol {
    list-style: none;
    padding-left: 0;
}
</style>
<style>
	table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
		box-sizing: border-box;
		}
		
		/* Create two unequal columns that floats next to each other */
		.columnn {
		float: left;
		padding: 10px;
		}
		
		.left {
		width: 70%;
		}
		
		.right {
		width: 40%;
		}
		
		/* Clear floats after the columns */
		.row:after {
		content: "";
		display: table;
		clear: both;
		}
	</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
		box-sizing: border-box;
		}
		
		/* Create two unequal columns that floats next to each other */
		.colummn {
		float: left;
		padding: 10px;
		}
		
		.left {
		width: 45%;
		}
		
		.right {
		width: 55%;
		}
		
		/* Clear floats after the columns */
		.row:after {
		content: "";
		display: table;
		clear: both;
		}
	</style>
	</head>

	<body>

		<div class="reveal">

			<div class="slides">
<section>
				<h4>Algebraic Spline Geometry for Efficient Surface Representation and Data-driven Modelling</h4>
				<small> Dr. <a href="https://sites.google.com/site/nvillami/">Nelly Villamizar</a><br>Department of Mathematics, Swansea University 
					
<p></p><br><br><br><br>		
	<a href="https://www.cardiff.ac.uk/mathematics">School of Mathematics, </a> Cardiff University <br>December 9, 2021</small>
	</section>
<section>
<h4> Academic journey</h4>
<a href="https://www.google.com/maps/place/Pamplona,+North+Santander,+Colombia/@11.0117989,-50.5846679,3z/data=!4m5!3m4!1s0x8e68811722aa0c15:0x83b790e98f7db7d4!8m2!3d7.3733625!4d-72.6525879?hl=en"><img src="../../Figures/mapa2021.png" style="width:100%"></a>	
</section>
<section>
<h4>Research Areas</h4>
<small style="text-align:left;">
<ul><li class="fragment" data-fragment-index="1">
Effective methods to approximate data, computational shape design:</li>
<p>
<ul><li class="fragment" data-fragment-index="2"><img src="../../Figures/nets.png" align="right" style="width:45%"/>Determine the most suitable partition of a domain to <span style="color: #2a76dd;">approximate a given dataset</span>.</li> </p>
<p><li class="fragment" data-fragment-index="3"> Construct a set of generating functions with good approximation properties that allow <span style="color: #2a76dd;">deformation</span>.</li></ul>
</p>
<img class="fragment" data-fragment-index="5" src="../../Figures/propeller.png" align="right" style="width:19%"/><p>
<li class="fragment" data-fragment-index="4">Characterising spaces with <span style="color: #2a76dd;">local refinements </span> properties, 	implementation  and CAGD applications.	</p>	
<p><li class="fragment" data-fragment-index="5"> Developing methods for surfaces with <span style="color: #2a76dd;">complex topology</span>, applications to
fitting.</p>
<img class="fragment" data-fragment-index="6" src="../../Figures/linktypes.jpg" align="right" style="width:23%"/><p>
<li class="fragment" data-fragment-index="6"> Algorithmic construction of <span style="color: #2a76dd;"> linkages </span>following prescribed motions.</p>
<p><li class="fragment" data-fragment-index="7"> Algebraic methods in <span style="color: #2a76dd;">optimal control</span>. </p>	</ul>
</small>
</section>
<section>
	<h4>Piecewise polynomial functions</h4>
	<div class="row">
		<div class="column">	
			<video data-autoplay src="../../Figures/timely_crop.mp4" style="width:70%">
			</video>		
			<small style="color:gray"> A. Lockwood</small></br><small> Bézier curves</small>
	</div>
	<div class="column">
		<small>\[\mathbf{p}_1=(1-t)\mathbf{c}_1+t\mathbf{c}_2\qquad
			\mathbf{p}_2=(1-t)\mathbf{c}_2+t\mathbf{c}_3\\
			\mathbf{p}_3=(1-t)\mathbf{c}_3+t\mathbf{c}_4\\
			\mathbf{q}_1=(1-t)\mathbf{p}_1+t\mathbf{p}_2\qquad
			\mathbf{q}_2=(1-t)\mathbf{p}_2+t\mathbf{p}_3\]</small>
		<div class="r-stack">
			<p class="fragment fade-out" data-fragment-index="0">
<img src="../../Figures/Bezier-2.png" style="width:40%">
<img src="../../Figures/Bezier-3.png" style="width:40%"></p>
<p class="fragment">
<img src="../../Figures/Bcubic-3.png" style="width:70%"></p>
</div>					
					
				</div>	
			</div>
			<small>\[\begin{aligned} \mathbf{s}&amp;\; =\;(1-t)\mathbf{q}_1+t\mathbf{q}_2
				\; =\;  (1-t)^3\mathbf{c}_1+3t(1-t)^2\mathbf{c}_2+3t^2(1-t)\mathbf{c}_3+t^3\mathbf{c}_4
				\end{aligned}\]</br></small>
	</section>





<section>

<section>
<h4>Discretization: FEM to solve PDE's</h4>
<div class="row">
	<div class="column">
	<img src="../../Figures/courant_pic.jpg" alt="courant" style="width:100%">
	<small>R. Courant (1949)</small>
	<img src="../../Figures/zienkiewicz.png"  alt="Zienkiewicz" style="width:100%">
	<small>O. Zienkiewicz (1921-2009)</small>
	</div>	
	<div class="column">
			<img src="../../Figures/courant-white.png" style="width:40%">	
			<img src="../../Figures/courant_hat.png" style="width:55%">
			<small>Courant element</small></br></br>
			<img src="../../Figures/levels.jpg" style="width:90%">
		</div>
	<div class="column">
		<img src="../../Figures/loopSuport.png" style="width:45%">
		<img src="../../Figures/loop2.png" style="width:50%"></br>
				<small>Loop subdivision</small></br></br></br>
		<img src="../../Figures/mixed2.jpg" style="width:70%">
			</div>
	</div>
</section>
<section>
	<h4>Computer Graphics &nbsp; CAGD &nbsp; CAD/CAM</h4>	
<figure><img src="../../Figures/B.png"  alt="spline" style="width:42%"><img src="../../Figures/GarisGame.jpg" alt="Bezier" style="width:57%"></figure>
	<div class="row">
		<div class="column">	
	<small>Postscript font Times Roman  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</br> Bézier curves  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small>
		</div>
	<div class="column"> 
		<small><a href="https://doi.org/10.1145/280814.280826">DeRose, Kass, and Truong (1998)</a>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</br>  Pixar, subdivision surfaces &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small>
</div>
</div>
</section>
<section>
	<h4>Isogeometric Analysis= CAGD + FEM</h4>
	<small><a href="https://doi.org/10.1016/j.cma.2004.10.008">Hughes, Cottrell, and Bazilevs (2005) </a></small>	
	<figure><img src="../../Figures/avion_mesh.png" style="width:75%"><figcaption><small>Mustang Mk. III by M. Cel VSP and flow5</small></figcaption></figure> 
	</section>
<!--<section>
<h4>Splines and data</h4>
	<div class="row">
		<div class="columnn left">
<img src="../../Figures/terrain2.png" style="width:100%">
		</div>
	<div class="columnn right">
	<img src="../../Figures/levels.jpg" style="width:55%">
	<img src="../../Figures/mixed2.jpg" style="width:45%">
	</div>
</div>
		<small><a href="https://doi.org/10.1016/j.cag.2015.03.006">Locally refined spline surfaces for representation of terrain data (2015)</a></br>
SINTEF, Norway</small>
</section>
-->
</section>


<section>
	<h4>Higher dimensional splines</h4>
<div class="row">
	<div class="column">	
		<video data-autoplay src="../../Figures/tensor2.mp4" style="width:80%">
		</video>
		 <small style="text-align:left;"><a href="https://dl.acm.org/doi/10.1145/2019627.2019629">García-Puente, Sottile, and Zhu (2011)
		</a></br></small>
<p style="text-align:left;font-size:20px">E. Postinghel, F. Sottile, and N. Villamizar</br>
&#128209;&nbsp;<a href="https://doi.org/10.1112/jlms/jdv024">Degenerations of toric varieties (2015)</a></pr>
</div>
<div class="column">
<img src="../../Figures/ms-b.png" style="width:100%">
<img src="../../Figures/torus1.png" style="width:38%">
<img src="../../Figures/cube-ps.png" style="width:46%">
 </div>	
</div>
<img src="../../Figures/twotriangles-b.png" style="width:12%">
<small> A pair of polynomials $(f,g)$ is $C^r$-continuous across a common face iff  \[f - g = \ell^{r+1} h \Leftrightarrow f-g\in \langle \ell^{r+1}\rangle 	\]
&nbsp; &nbsp; <a href="https://projecteuclid.org/euclid.bams/1183535131">Strang (1973) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a>&nbsp;&nbsp;<a href="https://doi.org/10.1090/S0002-9947-1988-0965757-9">Billera (1988) &nbsp; &nbsp; &nbsp; &nbsp;</a>
</small>
</section>
<section>
<h4>Dimension of spline spaces</h4>
<div style="background-color:#eef2f6">	
<small style="text-align:left;">
<b>&nbsp;Theorem:</b>&nbsp;
For a simplicial complex $\Delta\subseteq \mathbb{R}^2$
\begin{align*}
& {\scriptsize \dim  S_d^r(\Delta) \leq
\binom{d+2}{2}+f_1^0\binom{d+2-(r+1)}{2}-\sum_{i,\,\tilde{t}_i=1}^{f_0^0}\binom{d+2-(r+1)}{2}}\\[.5ex]
&{\scriptsize -\sum_{i=1,\, \tilde{t}_i\geq
2}^{f_0^0}\biggl[\tilde{t}_i\binom{d+2-(r+1)}{2}\hspace{-0.1cm}-\tilde{b}_i\,\binom{d+2-\tilde{\Omega}_i}{2}-\tilde{a}_i\,\binom{d+2-(\tilde{\Omega}_i+1)}{2}\biggr]}
\end{align*}
&nbsp;&nbsp;$\tilde{t}_i=$ number of edges connecting the vertex $\gamma_i$ to 
the boundary or vertices of lower index,</br> &nbsp;&nbsp; 
&nbsp; ${\small \tilde\Omega_i=\bigr\lfloor\frac{\tilde{t}_i r}{\tilde{t}_i-1}\bigr\rfloor+1,\quad
\tilde{a}_i=\tilde{t}_i (r+1)  +(1-\tilde{t}_i)\tilde \Omega_i,}$&nbsp;  and &nbsp; ${\small \tilde{b}_i=\tilde{t}_i-1-\tilde{a}_i.}$
</small>
</div>
</br>
<p style="text-align:left;font-size:20px"> 
B. Mourrain and N. Villamizar</br> 
&#128209;&nbsp;<a href="https://doi.org/10.1016/j.jsc.2012.10.002">Homological techniques for the analysis of the dimension of spline spaces (2013)</a></br>
&#128209;&nbsp;<a href="https://doi.org/10.1007/s11786-014-0187-8">Dimension of spline spaces on tetrahedral partitions (2014)</a></br>
&#128209;&nbsp;<a style="font-size:25px" href="https://doi.org/10.1007/978-3-319-08635-4_10">Spline spaces on triangulations (2014)</a></pr>
<div class="fixed">
<img src="../../Figures/Scc3.png" style="width:55%">	
</div>
	
</section>	
<section>
	<h4>Hierarchical box splines</h4>
<section>
<div class="row">
	<div class="column">
		<small style="text-align:left;"><span style="color: #2a76dd;">Box splines</span> have small support, are positive inside their support, and form a partition of unity.</br></br>
			
			They allow to define hierarchical spline spaces
			and the construction of spaces with adaptive
			<span style="color: #2a76dd;"> local refinement</span>.</small>
</div>
		<div class="column">
			<div class="r-stack">
				<p class="fragment fade-out" data-fragment-index="0">
					<img src="../../Figures/loopSuport.png" style="width:40%">
						<img src="../../Figures/loop2.png" style="width:40%"></p>	
				
						<p class="fragment"><img src="../../Figures/fox.png" style="width:70%"></br><span style="color:#BEBEBE;font-size:20px;">Yvar et al. 2005.</span></p>
					
			</div>
			
		</div>
	</div>	

<img src="../../Figures/grids_talk.png" style="width:100%">

	</section>
		<section>
<img src="../../Figures/boxsplinering.png" style="width:25.5%">
<img src="../../Figures/cara.png" style="width:34.9%">
<img src="../../Figures/hierarchy.png" style="width:31.4%">
</br>

<p style="text-align:left;font-size:20px;">  N. Villamizar, A. Mantzaflaris, and B. Jüttler</br>
&#128209;&nbsp; <a href="https://doi.org/10.1016/j.cagd.2015.11.004">Characterization of hierarchical quartic box splines on a three-directional grid, </a> Computer Aided Geometric Design, 41, 47-61, 2016.  </br>
&#128209;&nbsp; <a href="https://arxiv.org/abs/2011.01919">Completeness characterization of type-I box splines</a> <a href="https://arxiv.org/abs/2011.01919">[arXiv:2011.01919] </a>
Springer INdAM Series, 2021.
</br></br>
D. Toshniwal and N. Villamizar</br>
&#128209;&nbsp; <a href="https://doi.org/10.1016/j.cagd.2020.101880"> Dimension of polynomial splines of mixed smoothness on T-meshes</a> <a href="https://arxiv.org/abs/1912.13118">[arXiv:1912.13118]</a>, Computer Aided Geometric Design, 80, pp. 101880, 2020. 
</p>
	
</section>
</section>

<section>
<h4>Splines and tensor decomposition</h4>
<p class="fragment" data-fragment-index="1">\[\ell=a x+b y+c z\; \longleftrightarrow \; P = [a :b:c]\in \mathbb{P}^ 2 \]</p>	
<p class="fragment" data-fragment-index="2">$\langle \ell_1^{r+1}, \cdots, \ell_m^{r+1}\rangle_d \;\longleftrightarrow \wp_1^{d-r}\cap\cdots\cap\wp_m^{d-r}\quad$</p>
<p class="fragment" data-fragment-index="3"><img src="../../Figures/fan-a.png" style="width:30%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="../../Figures/plot6-a.png" style="width:18%"></p>
<p class="fragment" data-fragment-index="4" style="text-align:left;font-size:20px"> M. Gallet, K. Ranestad, and N. Villamizar</br> 
&#128209;&nbsp; <a href="https://dx.doi.org/10.4310/ARKIV.2018.v56.n1.a6"> Varieties of apolar subschemes of toric surfaces</a> <a href="https://arxiv.org/abs/1601.00694">[arXiv:1601.00694]</a> Arkiv för Matematik, 56 (1), pp. 73-99, 2018. 
</p>
</section>

<section><section>
<h4>Dimension of trivariate splines</h4>
<div class="r-stack">
<p class="fragment fade-out" data-fragment-index="0" style="line-height:0.01">
<img src="../../Figures/oct3.png" style="width:20%">&nbsp;&nbsp;&nbsp;
<img src="../../Figures/gen.png" style="width:20%">&nbsp;&nbsp;&nbsp;
<img src="../../Figures/bipyramid-a.png" style="width:20%"></br>
<img src="../../Figures/graph_regOcta.png" style="width:18%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="../../Figures/graph_genOctahedron2.png" style="width:18%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="../../Figures/graph_bipyramid-a.png" style="width:20%"></p>
<p class="fragment">
<img src="../../Figures/MS-closed-smaller-ps.png" style="width:30%">&nbsp;&nbsp;&nbsp;
<img src="../../Figures/MS-open-star.png" style="width:30%">&nbsp;&nbsp;&nbsp;
<img src="../../Figures/MS-closed2.png" style="width:18%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
</div>	
<p  style="text-align:left;font-size:20px"> M. DiPasquale and N. Villamizar </br>
&#128209;&nbsp;  <a href="https://arxiv.org/abs/2005.13043">A lower bound for splines on tetrahedral vertex stars</a>
<a href="https://arxiv.org/abs/2005.13043">[arXiv:2005.13043]</a> 
SIAM Journal on Applied Algebraic Geometry, 5(2), pp. 250-277, 2021.  </br>
&#128209;&nbsp;  <a href="https://arxiv.org/abs/2007.12274"> A lower bound for  tetrahedral splines in large degree</a> <a href="https://arxiv.org/abs/2007.12274">[arXiv:2007.12274]</a>, 2021.
</p>	
</section>
<!--<section><h4>Dimension of trivariate splines</h4>
<img src="../../Figures/MS-closed-smaller-ps.png" style="width:35%">&nbsp;&nbsp;&nbsp;
	<img src="../../Figures/MS-open-star.png" style="width:35%">&nbsp;&nbsp;&nbsp;
		<img src="../../Figures/MS-closed2.png" style="width:21%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<small  style="text-align:left;font-size:20px"> M. DiPasquale and N. Villamizar </br>
&#128209;&nbsp;  <a href="https://arxiv.org/abs/2005.13043">A lower bound for splines on tetrahedral vertex stars</a>
	<a href="https://arxiv.org/abs/2005.13043">[arXiv:2005.13043]</a> 
	SIAM Journal on Applied Algebraic Geometry, 5(2), pp. 250-277, 2021.  </br>
&#128209;&nbsp;  <a href="https://arxiv.org/abs/2007.12274"> A lower bound for  tetrahedral splines in large degree</a> <a href="https://arxiv.org/abs/2007.12274">[arXiv:2007.12274]</a>, 2021.
</small>	
</section>-->
<section>
	<h4>Lower bound = generic dimension</h4>
	<div class="row">
		<div class="column">	
			<img src="../../Figures/torus1.png" style="width:50%">
			<img src="../../Figures/cube-ps.png" style="width:65%">
		</div>	
		<div class="column">	
<small><table style="width:100%">
		<tr>
			<th>$r$</th>
			<th>$d$</th> 
			<th>$\binom{d+3}{3}$</th>
			<th>BB</th>
			<th>NewBound</th>
			<th>$\dim$</th>
		</tr>
		<tr>
			<td>2</td>
			<td>4</td>
			<td>35</td>
			<td>35</td>
			<td>35</td>
			<td>24</td>
		</tr>
		<tr>
			<td>2</td>
			<td>5</td>
			<td>56</td>
			<td>93</td>
			<td>96</td>
			<td>96</td>
		</tr>
		<tr>
			<td>2</td>
			<td>6</td>
			<td>84</td>
			<td>237</td>
			<td>240</td>
			<td>240</td>
		</tr>
	<tr>
		<td>3</td>
		<td>6</td>
		<td>84</td>
		<td>84</td>
		<td>60</td>
		<td>84</td>
	</tr>
	<tr>
	<td>3</td>
	<td>8</td>
	<td>165</td>
	<td>351</td>
	<td>380</td>
	<td>380</td>
</tr>
	<tr>
	<td>3</td>
	<td>9</td>
	<td>220</td>
	<td>663</td>
	<td>696</td>
	<td>696</td>
</tr>
	</table><p> </p>
<table style="width:100%">
		<tr>
			<th>$r$</th>
			<th>$d$</th> 
			<th>$\binom{d+3}{3}$</th>
			<th>MV</th>
			<th>NewBound</th>
			<th>$\dim$</th>
		</tr>
		<tr>
			<td>2</td>
			<td>8</td>
			<td>165</td>
			<td>165</td>
			<td>79</td>
			<td>165</td>
		</tr>
		<tr>
			<td>2</td>
			<td>9</td>
			<td>220</td>
			<td>220</td>
			<td>268</td>
			<td>268</td>
		</tr>
		<tr>
			<td>2</td>
			<td>10</td>
			<td>286</td>
			<td>352</td>
			<td>586</td>
			<td>586</td>
		</tr>
		<tr>
			<td>3</td>
			<td>11</td>
			<td>364</td>
			<td>364</td>
			<td>148</td>
			<td>364</td>
		</tr>
		<tr>
			<td>3</td>
			<td>12</td>
			<td>455</td>
			<td>455</td>
			<td>425</td>
			<td>455</td>
		</tr>
		<tr>
			<td>3</td>
			<td>13</td>
			<td>560</td>
			<td>560</td>
			<td>856</td>
			<td>856</td>
		</tr>
	</table>
</small>
</div>
</div>
</section>	
</section>
<section><section data-markdown style="font-size:30px">
	<script type="text/template">
		## Open problems on splines</br></br>
		- Complex shape representation: objects with arbitrary topology, fitting and isogeometric analysis applications.</br> </br>  <!-- .element: class="fragment" data-fragment-index="2" -->
		- Dimension of trivariate splines: fat point ideals, generic partitions and combinatorial dimension formula; for triangulations $\dim {S}_3^1(\Delta)$?</br></br> <!-- .element: class="fragment" data-fragment-index="1" -->	
		- <img src="../../Figures/MS-6split-a.png" align="right" style="width:20%">Algebraic methods in symmetric and locally flexible multivariate polynomial splines.</br></br>
	<p style="text-align:left;font-size:20px">D. Toshniwal and N. Villamizar</br>
	&#128209;&nbsp; <a href=""> Algebraic methods for supersmooth spline spaces </a> <a href="https://arxiv.org/abs/2107.06842">[arXiv:2107.06842]</a>, 2021. </p>
	</script>
</section>
<section>
	<h4> Complex shape representation</h4>
<small style="text-align:left;"> 
<img src="../../Figures/cubeA.png" align="right" style="width:18%"/>
	<p style="text-align:left;font-size:20px">
	A. Blidia, B. Mourrain, R. Vidunas, and N. Villamizar </br>
	&#128209;&nbsp; <a href="https://doi.org/10.1016/j.cagd.2016.03.003" style="font-size:24.5px;"> Dimension and bases for splines on surfaces of arbitrary topology </a> <a href="https://arxiv.org/abs/1509.03274">[arXiv:1509.03274]</a> CAGD, 45, 108-133, 2016. </br>
	&#128209;&nbsp; <a  href="https://doi.org/10.1016/j.cagd.2017.03.003" style="font-size:24.5px;">$G^1$-splines on quad meshes with 4-split macro-patch elements </a> <a href="https://arxiv.org/abs/1703.06717"> [arXiv:1703.06717]</a> CAGD, 52-53, pp. 106-125, 2017.</br>
 N. Villamizar, and B. Yuan</br>
&#128209;&nbsp;<span style="color: #2a76dd;" style="font-size:24.5px;">Sheaf structure of geometrically continuous splines</span>, 2022.
</p></small>
<img src="../../Figures/cloud1-a.png" style="width:30%" align="center"><img src="../../Figures/cloud2-a.png" style="width:30%" align="center"></br>
<p style="text-align:left;font-size:20px">
<a href="https://doi.org/10.1016/j.cagd.2020.101814">Blidia, Mourrain, and Xu (2020)</a></p>
</section>
</section>
<section>
	<h4>Rigidity and linkages</h4>	
	<section>
<div class="row">
<div class="column">
	<small style="text-align:left;"> <b>Problem:</b> Designing mechanical devices </br>that draw a given planar curve (Kempe
	1876).</br></br>
We proposed a new algorithm to produce </br>linkages tracing a given
parametric curve.</br>
</br>
<img src="../../Figures/JohnHancocksSignature.png" style="width:50%">	</br>	</br>
</small>
</div>	
	<div class="column">	
<video data-autoplay loop src="../../Figures/Ellipse.mp4" style="width 100%">
</video>
</div>
</div>	
<p style="text-align:left;font-size:20px">
M. Gallet, C. Koutschan, Z. Li, G. Regensburger, J. Schicho, and N. Villamizar</br>
&#128209;&nbsp;<a href="https://doi.org/10.1090/mcom/3120 "> Planar linkages following a prescribed motion </a> <a href="http://arxiv.org/abs/1502.05623"> [arXiv:1502.05623]  </a>Mathematics of Computation, 86, 473-506, 2017.
</p>
</section>
	<section>
	<div class="row">
		<div class="column">
			<small style="text-align:left;"> <b>Problem:</b> Designing mechanical devices </br>that draw a given planar curve (Kempe
			1876).</br></br>
	We proposed a new algorithm to produce </br>linkages tracing a given
parametric curve.</br>
</br>
<img src="../../Figures/JohnHancocksSignature.png" style="width:50%">	</br>	</br>
</small>
</div>	
<div class="column">	

<video data-autoplay src="../../Figures/HancockJ3D.mp4" style="width:100%">
</video>
</div>
</div>	
<p style="text-align:left;font-size:20px">
M. Gallet, C. Koutschan, Z. Li, G. Regensburger, J. Schicho, and N. Villamizar</br>
&#128209;&nbsp;<a href="https://doi.org/10.1090/mcom/3120 "> Planar linkages following a prescribed motion </a> <a href="http://arxiv.org/abs/1502.05623"> [arXiv:1502.05623]  </a>Mathematics of Computation, 86, 473-506, 2017.
</p>
</section>
</section>
<section><section>
<h4>Algebraic methods in optimal control</h4>
<span style="font-size:30px"><ul> 
		<li>Fundamental challenges in dynamic
			optimization such as pole placement, optimality conditions for model
			predictive control, and the parametrization of switching surfaces, can be
			cast as a system of algebraic equations.  </li>
		<li> The aim is to develop effective methods to analyse polynomial systems by combining 
		<ul> <li>Efficient iterative methods in optimization</li> 	
		<li> Gröbner bases</li> 
		<li>  Sturm sequences.</li>
		</ul>
		</ul>
</span>
</section>
<section><h4> Accurate identification of switching curves</h4>

<img src="../../Figures/doubleintoc.jpg" style="width:32.5%">
<img src="../../Figures/hjb.jpg" style="width:32.5%">
<img src="../../Figures/groebner.jpg" style="width:32.5%">
<br>
<small style="text-align:left;"> Improved optimal trajectories are obtained by studying the <span style="color: #2a76dd;">solvability of the polynomial system</span> associated to the optimality conditions.
<p style="text-align:center;" >For $A,Q\in\mathbb{R}^{n\times n}\,,B\in \mathbb{R}^{n\times m}\,, R\in\mathbb{R}^{m\times m}$
solve for $X\in\mathbb{R}^{n\times n}$&nbsp;:
\[A^tX+X A-X BR^{-1}B^tX+Q=0\]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Optimal feedback control:&nbsp;&nbsp; $u^*(x):=-(R^{-1}B^t X)x$&nbsp;.</p></small>

<p style="text-align:left;font-size:20px">
	D. Kalise, B. Rybolowicz, and N. Villamizar</br>
	&#128209;&nbsp; <span style="color: #2a76dd;">Chattering-free quasi time optimal control </span>(in preparation).
</p>	
</section>
</section>

<section>
<h4> Splines in data science</h4>	
<div class="row">
<div class="column">			
<small style="text-align:left;">
Spline regression:
\begin{equation*}
y_i=\begin{cases}
\beta_{01}+\beta_{11}x_i+\beta_{21}x_i^2+\beta_{31}x_i^3+\varepsilon_i\,,\;\text{if}\quad x_i< c\,,\\
\beta_{02}+\beta_{12}x_i+\beta_{22}x_i^2+\beta_{32}x_i^3+\varepsilon_i\,,\;\text{if}\quad x_i\geq c\,.
\end{cases}
\end{equation*}</small>
</div>
<div class="column">
</div>
</div>	
<small style="text-align:left;">
<img src="../../Figures/splines_esl.png" align="right" style="width:50%">
</br>Controlling smoothness at interfaces. 
Particularly relevant in spatial statistics:
<img src="../../Figures/terrain2.png" style="width:50%">
</small>
</section>		
<section>
<h4> Splines in machine learning</h4>	
<div class="row">
<div class="colummn left">			
<small style="text-align:left;">
</br>
Mathematical foundations:
<ul>
<li>approximation theory,
</li>	
<li>optimization.
</li>
</ul></br></br>
Similar applications:
<ul>
<li> geometric modelling,
</li>
<li> computer vision.
</li>
</ul>
</small>
</div>
<div class="colummn right">
<img src="../../Figures/gdl.png" style="width:100%">				
</div>
</div>	
<p style="text-align:left;font-size:20px" >Examples for spatial aggregation in geometric deep learning with trainable, continuous kernel functions, showing methods for (a) image graph representations and (b) meshes.</p>
<small style="text-align:left;">	
</br>
<a href="https://doi.org/10.1109/CVPR.2018.00097">SplineCNN: Fast Geometric Deep Learning with Continuous B-Spline Kernels</a>, M. Fey, J. Lenssen, F. Weichert, H. Müller, 2018, IEEE-CVF Conference on Computer Vision and Pattern Recognition.</br>
<span style="color: #2a76dd;">Spline parameterization of neural network controls for deep learning</span>, S. Günther, Will Pazner, D. Qi <a href="http://arxiv.org/abs/2103.00301">[arXiv:2103.00301]</a>, 2021.
</small>
</section>	
<section>		
<h4>MSc Project: benchmarking splines and deep learning</h4>	
<p style="text-align:left;font-size:24px;">
 <img src="../../Figures/terrain3.jpg" align="right" style="width:26%">
 <img src="../../Figures/realterrain.jpg" align="right" style="width:30%">
 <span style="color: #2a76dd;">Goal:</span> a theoretical and numerical comparison of splines and deep learning in 2D/3D problems.</br>
 <span style="color: #2a76dd;">Study case:</span></br> topography reconstruction.</br>
 <span style="color: #2a76dd;">Benchmark:</span></br> accuracy, storage, data efficiency.</br></br>
 <span style="color: #2a76dd;">Project structure:</span></br>
1) Learning topographic data structures (DEM, SRTM).</br>
2) B-splines reconstruction.</br>
3) Deep learning surface recovery: architectures, training.</br>
4) Training, validation, and benchmarking from idealized and real-world topography datasets. 
</br></pr>
<p style="text-align:left;font-size:29px ">
<a href="https://doi.org/10.1016/j.cag.2015.03.006">Locally refined spline surfaces for representation of terrain data</a>, V. Skytt, O. Barrowclough, T. Dokken, Computers & Graphics, 2015.</br>
<a href="https://doi.org/10.5311/JOSIS.2020.20.658">GeoAI: Where machine learning and big data converge in GIScience</a>, W. Li, Journal of Spatial Information Science, 2020.</p>
</section>		
<section>
<h4>Future directions</h4>
<span style="font-size:24px;">	
	<ul><li>High order methods for computational engineering and data analysis</br>
	<span style="font-size:25px;color: #2a76dd;">	British Council & French Embassy in UK  Alliance Hubert Curien programme (2021-23)</span>
	</li> 
<li>
Algebraic Spline Geometry: towards algorithmic shape representation</br>
<span style="font-size:25px;color: #2a76dd;">Principal Investigator, EPSRC New Investigator award (2021-24)</span>
<!--<ul>
	<li>Beyond multivariate spline spaces on planar partitions
	</li>
<li> Geometric continuity methods for complex shapes
</li>
<li>Numerical algorithms for locally adaptive spline basis functions.
</li>
</ul>	
</li>-->
<li> Effective algebraic methods in optimal control.
</li>
<li> <a href="https://www.iti-global.com/"> International TechneGroup</a>  industrial feedback, support, and CADfix training. 
</li>
<li> EPSRC New Horizons Award, Engineering remit, collaborative project with the department of Naval Architecture, Ocean and Marine Engineering at Strathclyde University, UK. 
</li>
<li> EPSRC+ NSF project in collaboration with Towson University, USA.
	</li>
</br>
	<h4>Thank you very much!!</h4>
<span style="font-size:24px">	Web: <a href="https://sites.google.com/site/nvillami/">https://sites.google.com/site/nvillami</a> <span>
</li>	
</ul>
</span> 
<div class="fijo">
	<img src="../../Figures/peel_off_sphere.png" style="width:60%">		
	</div>		
</section>	
</div>

		</div>

		<script src="../dist/reveal.js"></script>
		<script src="../plugin/markdown/markdown.js"></script>
		<script src="../plugin/math/math.js"></script>
		<script>
			Reveal.initialize({dependencies: [
					{ src: './mouse-pointer.js' }],
				history: true,
				transition: 'linear',

				math: {
					// mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
					config: 'TeX-AMS_HTML-full',
					TeX: {
						Macros: {
							R: '\\mathbb{R}',
							set: [ '\\left\\{#1 \\; ; \\; #2\\right\\}', 2 ]
						}
					}
				},

				plugins: [ RevealMarkdown, RevealMath ]
			});
		</script>

	</body>
</html>
