<!doctype html>
<html lang="en">

 <head>
  <meta charset="utf-8">

  <title>reveal.js - Math Plugin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="../dist/reveal.css">
  <link rel="stylesheet" href="../dist/theme/whiteme.css" id="theme">
  <style>
 div.fixed {
 position: fixed;
 top: 0;
 right: -70px;
 width: 300px;
 }
  </style>
  <style>
  div.fijo {
  position: fixed;
  bottom:-100px;
  right: -100px;
  width: 500px;
  }
 </style>
<style>
 ol {
  list-style: none;
  padding-left: 0;
}
</style>
<style>
 table, th, td {
 border: 1px solid black;
 border-collapse: collapse;
 }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <style>
  * {
  box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .columnn {
  float: left;
  padding: 10px;
  }
  
  .left {
  width: 70%;
  }
  
  .right {
  width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
 </style>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <style>
  * {
  box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .colummn {
  float: left;
  padding: 10px;
  }
  
  .left {
  width: 45%;
  }
  
  .right {
  width: 55%;
  }
  
  /* Clear floats after the columns */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
 </style>
 </head>

 <body>

  <div class="reveal">

 <div class="slides">
<section>
 <h4>Arreglos de hiperplanos y homología de Koszul</h4>
 <small> Dr. <a href="https://sites.google.com/site/nvillami/">Nelly Villamizar</a><br>Associate Professor<br>Department of Mathematics, Swansea University 
 
 <p></p><br><br><br><br> 
 <a href="https://live.eventtia.com/es/matematicas-visibles-2026">Matemáticas + Visibles</a>, Universidad de los Andes <br>May 5, 2026</small>
 </section>
 <section>
<section><h4> Academic journey</h4>
<a href="https://www.google.com/maps/place/Pamplona,+North+Santander,+Colombia/@11.0117989,-50.5846679,3z/data=!4m5!3m4!1s0x8e68811722aa0c15:0x83b790e98f7db7d4!8m2!3d7.3733625!4d-72.6525879?hl=en"><img src="../../Figures/mapa2021.png" style="width:100%"></a> 
</section>
<section>
	
	<div style="display:flex; gap:40px; align-items:flex-start;">
		
		<!-- LEFT COLUMN -->
		<div style="width:48%; text-align:center;">
			
			<h4>Matemáticas Unal</h4>
			
			<img src="../../Figures/AAW.jpeg"
				style="width:100%; border-radius:12px;">
				
				<ul style="font-size:20px; text-align:left; margin-top:10px; line-height:1.3;">
					<li>Adriana Maldonado (EAN)</li>
					<li>Alejandra Pabón (Colegio Restrepo Millán)</li>
					<li>Hanwen Zhang (UNAL)</li>
					<li>Margarita Rincón (IEO, Cádiz)</li>
					<li>Carolina Benedetti (Uniandes)</li>
				</ul>
				
			</div>
			
			<!-- RIGHT COLUMN -->
			<div style="width:48%; text-align:center;">
				
				<img src="../../Figures/MC.jpg"
					style="width:100%; border-radius:12px;">
					
				</div>
				
			</div>
			
		</section>
		</section>
<section>
<section>	<h4>Research Areas</h4>
	<small style="text-align:left;">
		<ul>
			
			<li class="fragment" data-fragment-index="1">
				Effective methods for data approximation and computational shape design.
			</li>
			
			<p>
			<!--	<ul>
					<li class="fragment" data-fragment-index="2">
						<img src="../../Figures/nets.png" align="right" style="width:45%"/>
							Determine the most suitable partition of a domain to 
							<span style="color: #2a76dd;">approximate a given dataset</span>.
						</li>
					</ul>
				</p>.-->
<div class="fragment" data-fragment-index="2"
	style="float:right; width:45%; margin-top:-20px;">
	<img src="../../Figures/nets.png" style="width:100%;">
	</div>
				
				<p>
					<li class="fragment" data-fragment-index="3">			
					Generating functions with good approximation properties,
					supporting 					
						<span style="color: #2a76dd;">deformation</span> and  <span style="color: #2a76dd;">local refinement</span>.
					</li>
				</p>
				
			<img class="fragment" data-fragment-index="5"
				src="../../Figures/propeller.png"
				style="width:19%; float:right; position:relative; right:-20px;margin-top:0px;">
					
					<p>
						<li class="fragment" data-fragment-index="4">
							Applications in CAGD.
						</li>
					</p>
					
					<p>
						<li class="fragment" data-fragment-index="5">
							Surfaces with <span style="color: #2a76dd;">complex topology</span> and applications to fitting.
						</li>
					</p>
					
					<!-- REPLACEMENT STARTS HERE -->
					<div class="fragment" data-fragment-index="6">
						<div style="display:flex; align-items:center; gap:10px; float:right; right:-40px; width:50%;margin-top:-60px;">
							
							<div style="width:80%;">
								<img src="../../Figures/JohnHancocksSignature.png" style="width:100%">
								</div>
								
								<div style="width:80%;">
									<video data-autoplay src="../../Figures/HancockJ3D.mp4" style="width:100%"></video>
								</div>
								
							</div>
						</div>
						<!-- REPLACEMENT ENDS HERE -->
						
						<p>
							<li class="fragment" data-fragment-index="6">
								Algorithmic construction of <a href="https://doi.org/10.1090/mcom/3120">linkages</a> with prescribed motions.
							</li>
						</p>
						
						<p>
							<li class="fragment" data-fragment-index="7">
								Algebraic methods in <a href="https://arxiv.org/abs/2503.17581">optimal control</a>.
							</li>
						</p>
						<p>
							<li class="fragment" data-fragment-index="8">
							Invariant theory and the graph reconstruction conjecture <a href="https://arxiv.org/abs/2604.16567">[arxiv:2604.16567]</a>.
							</li>
						</p>
					</ul>
				</small>
				</section>
				<section>
						<div style="width:100%;">
						<img src="../../Figures/wicaIII-1.jpg" style="width:100%">
						</div>
					</section>
					<section>
						<div style="width:100%;">
							<img src="../../Figures/berkeley.jpg" style="width:100%">
							</div>
						</section>
						<section>
							<div style="width:100%;">
								<img src="../../Figures/edinburgh.jpg" style="width:100%">
								</div>
							</section>
			</section>

<section>
 <h4>Piecewise polynomial functions</h4>
 <div class="row">
<div class="column"> 
	<video 
		data-autoplay 
		muted 
		playsinline 
		preload="auto"
		style="width:70%">
		<source src="../../Figures/timely_crop.mp4" type="video/mp4">
		</video>  
		<small style="color:gray">A. Lockwood</small><br>
			<small>Bézier curves</small>
		</div>
 <div class="column">
  <small>\[\mathbf{p}_1=(1-t)\mathbf{c}_1+t\mathbf{c}_2\qquad
 \mathbf{p}_2=(1-t)\mathbf{c}_2+t\mathbf{c}_3\\
 \mathbf{p}_3=(1-t)\mathbf{c}_3+t\mathbf{c}_4\\
 \mathbf{q}_1=(1-t)\mathbf{p}_1+t\mathbf{p}_2\qquad
 \mathbf{q}_2=(1-t)\mathbf{p}_2+t\mathbf{p}_3\]</small>
  <div class="r-stack">
 <p class="fragment fade-out" data-fragment-index="0">
<img src="../../Figures/Bezier-2.png" style="width:40%">
<img src="../../Figures/Bezier-3.png" style="width:40%"></p>
<p class="fragment">
<img src="../../Figures/Bcubic-3.png" style="width:70%"></p>
</div> 
 
 </div> 
 </div>
 <small>\[\begin{aligned} \mathbf{s}&amp;\; =\;(1-t)\mathbf{q}_1+t\mathbf{q}_2
 \; =\; (1-t)^3\mathbf{c}_1+3t(1-t)^2\mathbf{c}_2+3t^2(1-t)\mathbf{c}_3+t^3\mathbf{c}_4\,.
 \end{aligned}\]</br></small>
 </section>





<section>
<section>
 <h4>Discretization: FEM to solve PDE's</h4>
 <div class="row">
  <div class="column">
 <img src="../../Figures/courant_pic.jpg">
 <small>Courant (1949)</small>
 </div>
 <div class="column">
 <img src="../../Figures/levels.jpg">
 </div>
 </div>
  </section>
<section>
 <h4>Computer Graphics &nbsp; CAGD &nbsp; CAD/CAM</h4> 
<figure><img src="../../Figures/B.png" alt="spline" style="width:42%"><img src="../../Figures/GarisGame.jpg" alt="Bezier" style="width:57%"></figure>
 <div class="row">
  <div class="column"> 
 <small>Postscript font Times Roman &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</br> Bézier curves &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small>
  </div>
 <div class="column"> 
  <small><a href="https://doi.org/10.1145/280814.280826">DeRose, Kass, and Truong (1998)</a>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</br> Pixar, subdivision surfaces &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small>
</div>
</div>
</section>
<section>
 <h4>Isogeometric Analysis= CAGD + FEM</h4>
 <small><a href="https://doi.org/10.1016/j.cma.2004.10.008">Hughes, Cottrell, and Bazilevs (2005) </a></small> 
 <figure><img src="../../Figures/avion_mesh.png" style="width:75%"><figcaption><small>Mustang Mk. III by M. Cel VSP and flow5</small></figcaption></figure> 
 </section>
</section>

<section>
 <h4>Hierarchical box splines</h4>
 <section>
  <div class="row">
 <div class="column">
 </br><small style="text-align:left;"><span style="color: #2a76dd;">Box splines</span> have small support, are positive inside their support, and form a partition of unity.</br></br>
  
  They allow to define hierarchical spline spaces
  and the construction of spaces with adaptive
  <span style="color: #2a76dd;"> local refinement</span>.</small>
</div>
<div class="column">
 <div class="r-stack">
  <div class="fragment fade-in-then-out"> 
 <img src="../../Figures/courant-white.png" style="width:35%"> 
 <img src="../../Figures/courant_hat.png" style="width:45%">
 </br><span style="color:gray;font-size:20px;">Courant Element</span>  
 </div>
 <div class="fragment fade-in-then-out">
 <img src="../../Figures/loopSuport.png" style="width:40%">
 <img src="../../Figures/loop2.png" style="width:40%"></div>
 <div class="fragment"><img src="../../Figures/fox.png" style="width:70%"></br><span style="color:#BEBEBE;font-size:20px;">Yvar et al. 2005.</span></div>
 
 </div>
 
 </div>
  </div> 
  
  <img src="../../Figures/grids_talk.png" style="width:100%">
 
  </section>
  <section>
 <img src="../../Figures/boxsplinering.png" style="width:25.5%">
 <img src="../../Figures/cara.png" style="width:34.9%">
 <img src="../../Figures/hierarchy.png" style="width:31.4%">
 </br>
 
 <p style="text-align:left;font-size:20px;"> N. Villamizar, A. Mantzaflaris, and B. Jüttler</br>
 &#128209;&nbsp; <a href="https://doi.org/10.1016/j.cagd.2015.11.004">Characterization of hierarchical quartic box splines on a three-directional grid, </a> Computer Aided Geometric Design, 41, 47-61, 2016. </br>
 &#128209;&nbsp; <a href="https://arxiv.org/abs/2011.01919">Completeness characterization of type-I box splines</a> <a href="https://arxiv.org/abs/2011.01919">[arXiv:2011.01919]</a>, 
 Springer INdAM Series, 2021.
 </br></br>
  D. Toshniwal and N. Villamizar</br>
 &#128209;&nbsp; <a href="https://doi.org/10.1016/j.cagd.2020.101880"> Dimension of polynomial splines of mixed smoothness on T-meshes</a> <a href="https://arxiv.org/abs/1912.13118">[arXiv:1912.13118]</a>, Computer Aided Geometric Design, 80, pp. 101880, 2020. 
</p>

</section>
</section>
<section>
<h4>Higher dimensional splines</h4>
<div class="row">
 <div class="column"> 
  <video data-autoplay loop src="../../Figures/tensor2.mp4" style="width:70%">
  </video>
 <p style="text-align:center;font-size:20px""><a href="https://dl.acm.org/doi/10.1145/2019627.2019629">García-Puente, Sottile, and Zhu (2011)
  </a></br></p>
 <p style="text-align:left;font-size:20px">
 E. Postinghel, F. Sottile, and N. Villamizar</br>
 &#128209;&nbsp;<a href="https://doi.org/10.1112/jlms/jdv024">Degenerations of toric varieties</a>, Journal of the London Mathematical Society, 92 (2), 223-241, 2015.</pr>
</div>
<div class="column">
<img src="../../Figures/ms-b.png" style="width:100%">
<img src="../../Figures/torus1.png" style="width:38%">
<img src="../../Figures/cube-ps.png" style="width:46%">
 </div> 
</div>
<img src="../../Figures/twotriangles-b.png" style="width:10%">
<small> A pair of polynomials $(f,g)$ is $C^r$-continuous across a common face iff \[f - g = \ell^{r+1} h \Leftrightarrow f-g\in \langle \ell^{r+1}\rangle \,. \]
&nbsp; &nbsp; <a href="https://projecteuclid.org/euclid.bams/1183535131">Strang (1973) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a>&nbsp;&nbsp;<a href="https://doi.org/10.1090/S0002-9947-1988-0965757-9">Billera (1988) &nbsp; &nbsp; &nbsp; &nbsp;</a>
</small>
</section>
<section>
<section>
 <h4>Space of multivariate splines</h4>
<small style="text-align:left;">

 
 If \(\Delta \subseteq \mathbb{R}^n\) is a polyhedral complex and \(r \in \mathbb{Z}_{\geq 0}\), then
<div style="background-color:#eef2f6"> 
 \[
 \mathcal{S}^r(\Delta)
 =
 \left\{
 f \in C^r(\Delta)\; :\;
 f|_\sigma \in \mathbb{R}[x_1,\dots,x_n]
 \text{ for all } \sigma \in \Delta_n
 \right\}, \text{and}
 \] 
\[\mathcal{S}_d^r(\Delta)= \bigl\{ f\in \mathcal{S}^r(\Delta)\colon \deg(f|_\sigma)\leq d\; \text{for all} \; \sigma\in\Delta_n\bigr\}.\]
</div>
<P align="right">The set $\mathcal{S}_d^r(\Delta)$ is a real vector space. </p>
</br></br>
 <div class="row">
 <div class="column">
 Embed $\Delta$ in $\{x_{n+1}=1\}\subseteq\mathbb R^{n+1}$, 
 \[\Rightarrow\mathcal S^r(\hat{\Delta})=\bigoplus\limits_{d\geq 0}\mathcal S^r(\hat{\Delta})_d\] 
 is a graded module, and
 \[\dim \mathcal S_d^r(\Delta)=\dim \mathcal S^r(\hat{\Delta})_d.\] 
 </div>
  <div class="column">
 <img src="../../Figures/cone3.png" style="margin-top:-30px;">
 </div> 
  </div>


 
</small>
</section>

<section>
 <h4>Simplicial complex</h4>
 <small style="text-align:left;"> A simplicial complex gives rise to a <span style="color: #2a76dd;">chain complex</span>:
 the \(R\)-module \(C_i\) is generated by the oriented \(i\)-simplices
 
  $
 [v_{j_0},\dots,v_{j_i}]
 =
 (-1)^{\mathrm{sgn}(\rho)}
 [v_{j_{\rho(0)}},\dots,v_{j_{\rho(i)}}]
  $, and 
 
 
 
 \[
 \partial([\sigma])=
 \sum_{j=0}^n (-1)^j
 [v_{i_0},\dots,\hat{v}_{i_j},\dots,v_{i_n}]
 \quad \text{(\(\partial\partial=0\))}
 \]
 
 <p>
 
 <div class="row" style="align-items:center;">
 
 <div class="column" style="width:70%;">
 <b>For example:</b>
  \[
  
  [\sigma] = [v_1,v_2,v_3]\quad
  [\tau] = [v_2,v_3]\quad
  [\tau'] = [v_1,v_2]
  \]
  $
  \partial([v_1,v_2,v_3])=
  [v_2,v_3]-[v_1,v_3]+[v_1,v_2]
  $
 </div>
 
 <div class="column" style="width:30%; text-align:right;">
  <img src="../../Figures/orientation.png" style="width:80%;">
  </div>
  
 </div>
 
 
 </p>
 
 <p>
 We extend \(\partial\) by linearity 
 </p>
 
 \[
 \mathcal{C}:\;
 0 \to C_2 \xrightarrow{\partial_2}
 C_{1}
  \xrightarrow{\partial_1}
 C_0 \to 0.
 \]
  
  </small>
 </section>

<section>

  <h4 class="fragment" data-fragment-index="0">Define the complex of ideals...</h4>
 
  <div style="display:flex; justify-content: space-around; align-items: center;">
 
 <div class="fragment" data-fragment-index="1">
 <small> \[
 \mathcal{J}(\sigma)=\langle 0 \rangle
 \]</small>
 </div>
 
 <div class="fragment" data-fragment-index="2">
 <small> \[
 \mathcal{J}(\tau)=\langle \ell_\tau^{r+1} \rangle
 \]</small>
 </div>
 
 <div class="fragment" data-fragment-index="3">
 <small> \[
 \mathcal{J}(\gamma) = \sum \langle \ell_\tau^{r+1}\colon \tau \ni \gamma\rangle
 \]</small>
 </div>
 
  </div>
  
  <div class="fragment" data-fragment-index="4">
 <div style="background-color:#eef2f6"> <small>  \[
 \mathcal{R}/\mathcal{J}:\;
 0 \to \bigoplus_{\sigma \in \Delta_2}\mathcal{R}(\sigma)
 \xrightarrow{\partial_2}
 \bigoplus_{\tau \in \Delta_{1}^{0}}\mathcal{R/J}(\tau)
 \xrightarrow{\partial_1}
 \bigoplus_{\gamma \in \Delta_0^{0}}\mathcal{R/J}(\gamma)
 \to 0
 \]</small></div>
  </div>
  
  <div class="fragment" data-fragment-index="5">
  <small> \[
 \dim \mathcal{S}^r_d(\Delta)=\dim H_n(\mathcal{R}/\mathcal{J})_d =\ker(\partial_2).
 \]</small>
  </div>
  <div class="fragment" data-fragment-index="6">
  <small> <p style="text-align:left;">Thus,</p> </br>
 $\dim \mathcal S^r_d(\Delta)=\hspace{-0.1cm}\sum\limits_{\sigma\in\Delta_2}\hspace{-0.1cm}\dim \mathcal{R}(\sigma)_d-\hspace{-0.1cm}\sum\limits_{\tau\in\Delta_{1}^0}\hspace{-0.1cm}\dim \mathcal{R}/\mathcal{J}(\tau)_d +\hspace{-0.1cm}\sum\limits_{\gamma\in\Delta_{0}^0}\hspace{-0.1cm}\dim \mathcal{R}/\mathcal{J}(\gamma)_d 
  +\dim H_{0}(\mathcal J)_d$
  </small></div>
</section>
<section> 
<h4>Dimension of spline spaces</h4>
<div style="background-color:#eef2f6"> 
<small style="text-align:left;">
<b>&nbsp;Theorem:</b>&nbsp;
For a simplicial complex $\Delta\subseteq \mathbb{R}^2$
\begin{align*}
& {\scriptsize \dim S_d^r(\Delta) \leq
\binom{d+2}{2}+f_1^0\binom{d+2-(r+1)}{2}-\sum_{i,\,\tilde{t}_i=1}^{f_0^0}\binom{d+2-(r+1)}{2}}\\[.5ex]
&{\scriptsize -\sum_{i=1,\, \tilde{t}_i\geq
2}^{f_0^0}\biggl[\tilde{t}_i\binom{d+2-(r+1)}{2}\hspace{-0.1cm}-\tilde{b}_i\,\binom{d+2-\tilde{\Omega}_i}{2}-\tilde{a}_i\,\binom{d+2-(\tilde{\Omega}_i+1)}{2}\biggr]}
\end{align*}
&nbsp;&nbsp;$\tilde{t}_i=$ number of edges connecting the vertex $\gamma_i$ to 
the boundary or vertices of lower index,</br> &nbsp;&nbsp; 
&nbsp; ${\small \tilde\Omega_i=\bigr\lfloor\frac{\tilde{t}_i r}{\tilde{t}_i-1}\bigr\rfloor+1,\quad
\tilde{a}_i=\tilde{t}_i (r+1) +(1-\tilde{t}_i)\tilde \Omega_i,}$&nbsp; and &nbsp; ${\small \tilde{b}_i=\tilde{t}_i-1-\tilde{a}_i.}$
</small>
</div>
</br>
<p style="text-align:left;font-size:20px"> 
B. Mourrain and N. Villamizar</br> 
&#128209;&nbsp;<a href="https://doi.org/10.1016/j.jsc.2012.10.002">Homological techniques for the analysis of the dimension of spline spaces (2013)</a>.</br>
&#128209;&nbsp;<a href="https://doi.org/10.1007/s11786-014-0187-8">Dimension of spline spaces on tetrahedral partitions (2014)</a>.</br>
&#128209;&nbsp;<a style="font-size:20px" href="https://doi.org/10.1007/978-3-319-08635-4_10">Spline spaces on triangulations (2014)</a>.</pr>
<div class="fixed">
<img src="../../Figures/Scc3.png" style="width:55%"> 
</div>
</section>
<section>
 <h4>3-dimensional simplicial complexes</h4>
 
 <small>
  
  \[
  \dim \mathcal{S}^r_d(\Delta)
  =
  \sum_{\iota \in \Delta_{3}} \dim \mathcal{R}(\iota)_d
  \;-\;
  \sum_{\sigma \in \Delta_{2}^{\circ}} \dim \mathcal{R}/\mathcal{J}(\sigma)_d 
  +\;
  \sum_{\tau \in \Delta_{1}^{\circ}} \dim \mathcal{R}/\mathcal{J}(\tau)_d \]
 <div style="background-color:#eef2f6">
  \[\qquad\quad  -\;
 \sum_{\gamma\in\Delta_0^\circ}\dim \mathcal{R}/\mathcal{J}(\gamma)_d
 \;+\;
 \dim H_{1}(\mathcal{J})_d
 \;-\;
 \dim H_{0}(\mathcal{J})_d 
 \]
  </div>
  
 <div class="row" style="align-items:center;">
 
 <div class="column" style="width:70%;">
 <p style="text-align:left;">
 If \(\Delta\) arises from a 
 (<span style="color:#2a76dd;">essential</span>) hyperplane arrangement:
 </p>
 
 <p class="fragment" style="text-align:left; margin-left:20px;">
 • &nbsp;there is only one vertex \(\gamma=\bm{0}\)
 </p>
 
 <p class="fragment" style="text-align:left; margin-left:20px;">
 • &nbsp;<span style="background-color:#eef2f6;">
 \(\dim H_{0}(\mathcal{J})_d = 0\)
 </span>.
 </p> 
 </div>
 
 <div class="column" style="width:30%; text-align:right;">
 <img src="../../Figures/7hyperplanes.png" style="width:70%;">
 </div>
 
 </div>

  
 </small>
</section>
</section>


<section>
<h4>Splines and tensor decomposition</h4>
<p class="fragment" data-fragment-index="1">\[\ell=a x+b y+c z\; \longleftrightarrow \; P = [a :b:c]\in \mathbb{P}^ 2 \]</p> 
<p class="fragment" data-fragment-index="2">$\langle \ell_1^{r+1}, \cdots, \ell_m^{r+1}\rangle_d \;\longleftrightarrow \wp_1^{d-r}\cap\cdots\cap\wp_m^{d-r}\quad$</p>
<p class="fragment" data-fragment-index="3"><img src="../../Figures/fan-a.png" style="width:30%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="../../Figures/plot6-a.png" style="width:18%"></p>
<p class="fragment" data-fragment-index="4" style="text-align:left;font-size:20px"> M. Gallet, K. Ranestad, and N. Villamizar</br> 
&#128209;&nbsp; <a href="https://dx.doi.org/10.4310/ARKIV.2018.v56.n1.a6"> Varieties of apolar subschemes of toric surfaces</a> <a href="https://arxiv.org/abs/1601.00694">[arXiv:1601.00694]</a>, Arkiv för Matematik, 56 (1), pp. 73-99, 2018. 
</p>
</section>

  
<section><section>
<h4>Dimension of trivariate splines</h4>
<div class="r-stack">
<p class="fragment fade-out" data-fragment-index="0" style="line-height:0.01">
<img src="../../Figures/oct3.png" style="width:20%">&nbsp;&nbsp;&nbsp;
<img src="../../Figures/gen.png" style="width:20%">&nbsp;&nbsp;&nbsp;
<img src="../../Figures/bipyramid-a.png" style="width:20%"></br>
<img src="../../Figures/graph_regOcta.png" style="width:18%">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="../../Figures/graph_genOctahedron2.png" style="width:18%">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="../../Figures/graph_bipyramid-a.png" style="width:20%"></p>
<p class="fragment">
<img src="../../Figures/MS-closed-smaller-ps.png" style="width:30%">&nbsp;&nbsp;&nbsp;
<img src="../../Figures/MS-open-star.png" style="width:30%">&nbsp;&nbsp;&nbsp;
<img src="../../Figures/MS-closed2.png" style="width:19%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
</div> 
<p style="text-align:left;font-size:20px"> M. DiPasquale and N. Villamizar </br>
&#128209;&nbsp; <a href="https://dx.doi.org/10.1137/20M1341118"> A lower bound for splines on tetrahedral vertex stars</a>
<a href="https://arxiv.org/abs/2005.13043">[arXiv:2005.13043]</a>, 
SIAM Journal on Applied Algebraic Geometry, 5(2), pp. 250-277, 2021. </br>
&#128209;&nbsp; <a href="https://doi.org/10.1007/s00365-023-09625-5"> A lower bound for tetrahedral splines in large degree</a> <a href="https://arxiv.org/abs/2007.12274">[arXiv:2007.12274]</a>, Constr Approx 59, 1–30, 2024.
</p> 
</section>
<!--<section><h4>Dimension of trivariate splines</h4>
<img src="../../Figures/MS-closed-smaller-ps.png" style="width:35%">&nbsp;&nbsp;&nbsp;
 <img src="../../Figures/MS-open-star.png" style="width:35%">&nbsp;&nbsp;&nbsp;
  <img src="../../Figures/MS-closed2.png" style="width:21%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<small style="text-align:left;font-size:20px"> M. DiPasquale and N. Villamizar </br>
&#128209;&nbsp; <a href="https://dx.doi.org/10.1137/20M1341118"> A lower bound for splines on tetrahedral vertex stars</a>
 <a href="https://arxiv.org/abs/2005.13043">[arXiv:2005.13043]</a>, SIAM Journal on Applied Algebraic Geometry, 5(2), pp. 250-277, 2021. </br>
&#128209;&nbsp; <a href="https://arxiv.org/abs/2007.12274"> A lower bound for tetrahedral splines in large degree</a> <a href="https://arxiv.org/abs/2007.12274">[arXiv:2007.12274]</a>, 2021.
</small> 
</section>-->
<section>
 <h4>Lower bound = generic dimension</h4>
 <div class="row">
  <div class="column"> 
 <img src="../../Figures/torus1.png" style="width:50%">
 <img src="../../Figures/cube-ps.png" style="width:65%">
  </div> 
  <div class="column"> 
<small><table style="width:100%">
  <tr>
 <th>$r$</th>
 <th>$d$</th> 
 <th>$\binom{d+3}{3}$</th>
 <th>BB</th>
 <th>NewBound</th>
 <th>$\dim$</th>
  </tr>
  <tr>
 <td>2</td>
 <td>4</td>
 <td>35</td>
 <td>35</td>
 <td>35</td>
 <td>24</td>
  </tr>
  <tr>
 <td>2</td>
 <td>5</td>
 <td>56</td>
 <td>93</td>
 <td>96</td>
 <td>96</td>
  </tr>
  <tr>
 <td>2</td>
 <td>6</td>
 <td>84</td>
 <td>237</td>
 <td>240</td>
 <td>240</td>
  </tr>
 <tr>
  <td>3</td>
  <td>6</td>
  <td>84</td>
  <td>84</td>
  <td>60</td>
  <td>84</td>
 </tr>
 <tr>
 <td>3</td>
 <td>8</td>
 <td>165</td>
 <td>351</td>
 <td>380</td>
 <td>380</td>
</tr>
 <tr>
 <td>3</td>
 <td>9</td>
 <td>220</td>
 <td>663</td>
 <td>696</td>
 <td>696</td>
</tr>
 </table><p> </p>
<table style="width:100%">
  <tr>
 <th>$r$</th>
 <th>$d$</th> 
 <th>$\binom{d+3}{3}$</th>
 <th>MV</th>
 <th>NewBound</th>
 <th>$\dim$</th>
  </tr>
  <tr>
 <td>2</td>
 <td>8</td>
 <td>165</td>
 <td>165</td>
 <td>79</td>
 <td>165</td>
  </tr>
  <tr>
 <td>2</td>
 <td>9</td>
 <td>220</td>
 <td>220</td>
 <td>268</td>
 <td>268</td>
  </tr>
  <tr>
 <td>2</td>
 <td>10</td>
 <td>286</td>
 <td>352</td>
 <td>586</td>
 <td>586</td>
  </tr>
  <tr>
 <td>3</td>
 <td>11</td>
 <td>364</td>
 <td>364</td>
 <td>148</td>
 <td>364</td>
  </tr>
  <tr>
 <td>3</td>
 <td>12</td>
 <td>455</td>
 <td>455</td>
 <td>425</td>
 <td>455</td>
  </tr>
  <tr>
 <td>3</td>
 <td>13</td>
 <td>560</td>
 <td>560</td>
 <td>856</td>
 <td>856</td>
  </tr>
 </table>
</small>
</div>
</div>
</section> 
<section>
 <h4>Koszul homology</h4>
 
 <small>
  <div style="text-align:left;">
  <!-- BLOCK 1 -->
  <div class="fragment">
  &nbsp; <span style="color:#d62728;">•</span>&nbsp;
 Let \( \Bbbk \) be a field, 
 \( R=\Bbbk[x_1,\dots,x_n] \), and \( \bm{y}=\{y_1,\dots,y_m\}\subset R \).
 Let \( I=\langle \bm{y} \rangle \).
  </div>
  
  <br>
 
 <!-- BLOCK 2 -->
 <div class="fragment">
 &nbsp; <span style="color:#d62728;">•</span>&nbsp;
 Let \( F \) be a free module with basis \( e_1,\dots,e_m \), and define
 \[
 \varphi:F \to I, \qquad \varphi(e_i)=y_i.
 \]
 </div>
 
  
 
 <!-- BLOCK 3 -->
 <div class="fragment">
 &nbsp; <span style="color:#d62728;">•</span>&nbsp;
 The <b>Koszul complex</b>:
 <div style="background-color:#eef2f6;">
  \[
  \mathcal{K}_i(\bm{y})=\bigwedge^i F,
  \quad
  \partial_i(z_1\wedge\cdots\wedge z_i)
  =
  \sum_{j=1}^i (-1)^{j+1}
  \varphi(z_j)\,
  z_1\wedge\cdots\widehat{z_j}\cdots\wedge z_i
  \]
 </div>
 </div>
 
  
 
 <!-- BLOCK 4 -->
 <div class="fragment">
 <p style="text-align:left;">
 &nbsp; <span style="color:#d62728;">•</span>&nbsp; \(\mathsf{H}_0(\bm{y}) = R/I\)
 <span style="margin:0 12px;">and</span>
 <span style="position:relative; top:-7px;">
 \(\mathsf{H}_1(\bm{y}) = \frac{\ker(\partial_1)}{\operatorname{Im}(\partial_2)}\)
 </span style="margin:0 12px;"> (<span style="color: #2a76dd;">first Koszul homology</span>), where
 </p>
<div class="fragment" style="margin-left:175px;">
 <div style="display:flex; align-items:center; gap:10px;">
  <div>
  $
  \ker(\partial_1)=\left\{ \sum \alpha_i e_i \;:\;
  \sum \alpha_i y_i = 0\right\}
  $
  </div>
 <div style="font-size:24px;">(<span style="color: #2a76dd;">syzygies</span>)
 </div>
 </div>
</div> 
<div class="fragment" style="margin-left:150px; text-align:center;">
 <div style="display:flex; align-items:center; gap:10px;">
  <div> 
  $$
  \partial_2(z\wedge z')=
  \varphi(z)z' - \varphi(z')z
  $$
  </div>
 <div style="font-size:24px;">(<span style="color:#2a76dd;">Koszul syzygies)</span>
 </div>
 </div>
</div> 
 
</div> 
 <div class="fragment">
 &nbsp;<span style="color:#d62728;">•</span>&nbsp;
 If \( \bm{y} \) is minimal:
 $
 \mathsf{H}_\bullet(I) \cong \mathsf{H}_\bullet(\bm{y}).
 $
 </div>
 </div> 
  </small>
 </section>
<section>
 <h4>Koszul homology and splines</h4>
 <div style="text-align:left;">
 <small>
  Consider splines with <span style="color:#2a76dd;">constant smoothness $\bm r$ along hyperplanes</span>.
  <div style="text-align:left;">
  <!-- SETUP -->
  <div class="fragment">
 Let \( \mathcal{A} = \bigcup_{i=1}^n H_i \subset \mathbb{R}^3 \) be a central hyperplane arrangement, and
 \[
 \ell^{\bm{r}} = \{\ell_H^{r(H)+1} : H\in\mathcal{A}\},
 \qquad
 I=\langle \ell^{\mathbf{r}} \rangle.
 \]
  </div></div>
  
 
  

 
 <!-- THEOREM -->
 <div class="fragment">
 
 <div style="background-color:#eef2f6; padding:8px;">
 
 <b>Theorem (Checa et al., 2026):</b>
 &nbsp; <span style="color:#d62728; width:20px;">•</span>
  <span>&nbsp;
 \( H_1(\mathcal{J}) \) is a quotient of \( \mathsf{H}_1(\ell^{\mathbf{r}}) \), it has finite length
  </span>
 
 <div class="fragment" style="margin-left:318px;">
 &nbsp; <span style="color:#d62728; width:20px;">•</span>
  <span>&nbsp;
 If \( \mathcal{A} \) is generic:
 $
 H_1(\mathcal{J}) \cong \mathsf{H}_1(\ell^{\mathbf{r}})
 $
  </span>
 </div>
 
 </div>
 </div>
 

 
 <!-- DIMENSION FORMULA -->
 <div class="fragment">
 <b>Dimension bound:</b>
 <div style="background-color:#eef2f68; padding:6px;">
  $
  \dim \mathcal{S}^{\bm{r}}_d(\Sigma^\mathcal{A})
  \le
  2\dim R_d
  + \sum_{\tau} \dim \mathcal J(\tau)_d
  - \sum_{\gamma} \dim \mathcal J(\gamma)_d
  + \dim \mathsf{H}_1(\ell^{\mathbf{r}})_d
  - \dim \mathsf{H}_0(\ell^{\mathbf{r}})_d
  $
 </div>
 </div>

 </br>
 <!-- ASYMPTOTIC -->
 <div class="fragment">
  For \( d \gg 0 \):
  $\quad
  \dim \mathcal{S}^{\bm{r}}_d(\Sigma^\mathcal{A})
  =
  2\dim R_d
  + \sum_{\tau} \dim \mathcal J(\tau)_d
  - \sum_{\gamma} \dim \mathcal J(\gamma)_d
  $
 </div>
 
 </br>
  
  <!-- GENERIC -->
  <div class="fragment">
 <b>Generic case:</b>
 <div style="background-color:#eef2f6; padding:6px;">
 $\qquad
 \dim \mathcal{S}^{\bm{r}}_d(\Sigma^\mathcal{A})
 =
 2\binom{d+2}{2}
 + 2\sum_{H_1\neq H_2}
 \binom{d-r(H_1)-r(H_2)}{2}
 + \dim \mathsf H_1(\ell^\bm{r})_d - \dim \mathsf{H}_0(\ell^{\bm{r}})_d
 $
 </div>
  </div>
  
 </small></div>
 </section>
 <section>
 	<div style="width:100%;">
 		<img src="../../Figures/fields.jpg" style="width:100%">
 		</div>
 	</section>
</section>

<section>
 
 <h4>Superpline spaces</h4>
 
 <div class="row" style="display:flex; align-items:center;">
  
  <!-- LEFT TEXT -->
  <div class="column" style="width:80%; text-align:left;">
 <small>
 The <span style="color: #2a76dd;">super-spline space</span> $\mathcal S^{r,\bm s}_{d }(\Delta)$ is the set of $C^r$-splines on $\Delta$ with supersmoothness $s_\beta$ at $\beta\in\Delta_{i}$:
 <div style="background-color:#eef2f6"> \begin{equation*}
 \mathcal S^{r, \bm s}_{d }(\Delta) = 
 \bigl\{f\in \mathcal S^{r}_{d }(\Delta) \colon f\in C^{s_\beta}(\beta) \; \text{for all}\; \beta \in \Delta_{i}\bigr\}
 \end{equation*} </div>
 where $f|_\sigma$ have common derivatives up to order $s$ at $\beta$ for all $\sigma\supseteq\beta$ . In $\R^2$, if $[\gamma,\gamma']=\tau\in\Delta_{1}^\circ$, take 
 \[ \mathcal J(\tau)=\langle \ell_\tau^{r+1}\rangle\cap \mathfrak m_\gamma^{s+1}\cap \mathfrak m_{\gamma'}^{s+1}\] 
 where ${\mathfrak m}_{\gamma}={\mathfrak m}_{\gamma'}$ are the maximal ideals at ${\gamma}$ and ${\gamma'}$.
 </small>
 
  
 </div>
 
 <!-- RIGHT IMAGES -->
 <div class="column" style="width:20%; text-align:right;">
 
 <!-- FIXED CANVAS -->
 <div style="position:relative; width:100%; height:400px;">
 
 <!-- BASE -->
 <div class="fragment fade-out" style="position:absolute;right:-30;top:50%; transform:translateY(-60%);">
  <img src="../../Figures/ms-visualSkeleton.png"
 style="width:110%; display:block;">
  </div>
  
  <!-- REFINED (slightly delayed) -->
  <div class="fragment fade-in" style="position:absolute;right:-30; top:50%; transform:translateY(-60%);">
 <img src="../../Figures/ms-visual.png"
 style="width:110%; display:block;">
 </div>
 
  </div>
  
 </div>
 
 </div></br>
 <p style="text-align:left; font-size:20px;">
 D. Toshniwal and N. Villamizar<br>
 &#128209;&nbsp; <a href="https://doi.org/10.1016/j.aam.2022.102412">Algebraic methods for supersmooth spline spaces</a>
 <a href="https://arxiv.org/abs/2107.06842">[arXiv:2107.06842]</a>, Advances in Applied Mathematics,
 142, 102412, 2023.
 </p>  
 </section>
<section>
 <h4>Complex shape representation</h4>
 
 <small style="text-align:left;">
  
  <!-- RIGHT FIGURE (swap on fragment) -->
  <div class="r-stack" style="float:right; width:28%; margin-left:10px;">
 
 <img src="../../Figures/cubeA.png"
 class="fragment fade-out"
 data-fragment-index="1"
 style="width:100%;">
 
 <img src="../../Figures/cubeR.png"
 class="fragment fade-in"
 data-fragment-index="1"
 style="width:100%;">
 
 </div>
 
 <p style="text-align:left;font-size:20px">
 
 A. Blidia, B. Mourrain, R. Vidunas, and N. Villamizar <br>
  
  &#128209;&nbsp;
  <a href="https://doi.org/10.1016/j.cagd.2016.03.003">
 Dimension and bases for splines on surfaces of arbitrary topology
  </a>
  <a href="https://arxiv.org/abs/1509.03274">[arXiv:1509.03274]</a>, CAGD, 45, 108–133, 2016. <br>
 
 &#128209;&nbsp;
 <a href="https://doi.org/10.1016/j.cagd.2017.03.003">
 $G^1$-splines on quad meshes with 4-split macro-patch elements
 </a>
 <a href="https://arxiv.org/abs/1703.06717">[arXiv:1703.06717]</a>, CAGD, 52–53, 106–125, 2017. <br>
 
 </p>
 
 <!-- THIS APPEARS ONLY WITH SECOND CUBE -->
 <div class="fragment" data-fragment-index="1"
 style="margin-top:10px; font-size:20px;">
 
 A. Mantzaflaris, B. Mourrain, N. Villamizar, and B. Yuan<br>
 
 &#128209;&nbsp;
 <a href="https://doi.org/10.1090/mcom/4068">
  An algebraic framework for geometrically continuous splines
 </a>
 <a href="https://arxiv.org/abs/2305.09096">[arXiv:2305.09096]</a>, Math. Comp., 95, 925–968, 2026.
 
 </div>
 
 </small>
 
 <!-- BOTTOM FIGURES -->
 <div style="text-align:center; margin-top:10px;">
 <img src="../../Figures/cloud1-a.png" style="width:28%">
 <img src="../../Figures/cloud2-a.png" style="width:28%">
 </div>
 
 <p style="text-align:center;font-size:20px">
  <a href="https://doi.org/10.1016/j.cagd.2020.101814">
 Blidia, Mourrain, and Xu (2020)
  </a>
 </p>
 
 </section>
<!--<section>
 <h4>Rigidity and linkages</h4> 
 <section>
<div class="row">
<div class="column">
 <small style="text-align:left;"> <b>Problem:</b> Designing mechanical devices </br>that draw a given planar curve (Kempe
 1876).</br></br>
We proposed a new algorithm to produce </br>linkages tracing a given
parametric curve.</br>
</br>
<img src="../../Figures/JohnHancocksSignature.png" style="width:50%"> </br> </br>
</small>
</div> 
 <div class="column"> 
<video data-autoplay loop src="../../Figures/Ellipse.mp4" style="width 100%">
</video>
</div>
</div> 
<p style="text-align:left;font-size:20px">
M. Gallet, C. Koutschan, Z. Li, G. Regensburger, J. Schicho, and N. Villamizar</br>
&#128209;&nbsp;<a href="https://doi.org/10.1090/mcom/3120 "> Planar linkages following a prescribed motion </a> <a href="http://arxiv.org/abs/1502.05623"> [arXiv:1502.05623]</a>, Mathematics of Computation, 86, 473-506, 2017.
</p>
</section>
 <section>
 <div class="row">
  <div class="column">
 <small style="text-align:left;"> <b>Problem:</b> Designing mechanical devices </br>that draw a given planar curve (Kempe
 1876).</br></br>
 We proposed a new algorithm to produce </br>linkages tracing a given
parametric curve.</br>
</br>
<img src="../../Figures/JohnHancocksSignature.png" style="width:50%"> </br> </br>
</small>
</div> 
<div class="column"> 

<video data-autoplay src="../../Figures/HancockJ3D.mp4" style="width:100%">
</video>
</div>
</div> 
<p style="text-align:left;font-size:20px">
M. Gallet, C. Koutschan, Z. Li, G. Regensburger, J. Schicho, and N. Villamizar</br>
&#128209;&nbsp;<a href="https://doi.org/10.1090/mcom/3120 "> Planar linkages following a prescribed motion </a> <a href="http://arxiv.org/abs/1502.05623"> [arXiv:1502.05623]</a>, Mathematics of Computation, 86, 473-506, 2017.
</p>
</section>
</section>-->
  
<section>
 
 <img src="../../Figures/peel_off_sphere.png" style="float:right; width:40%; margin-left:15px;">
  
  <h4 style="text-align:left;" class="fragment" data-fragment-index="1">
 Thank you very much!!
  </h4>  
  <p style="font-size:24px;text-align:left;" class="fragment" data-fragment-index="1">
 Web: <a href="https://sites.google.com/site/nvillami/">
 https://sites.google.com/site/nvillami/
 </a>
 </p>
  
  </br></br></br>
  
  <!-- QUESTIONS -->
  <div style="margin-top:20px; font-size:22px; text-align:left;">
 
 <p class="fragment" data-fragment-index="2"><b>Possible questions:</b></p>
 
 <ul style="margin-left:20px;">
 
 <li class="fragment" data-fragment-index="3">
 To what extent are these methods implemented or used in practice?
 </li>
 
 <li class="fragment" data-fragment-index="4">
 Beyond special cases (e.g. number of lines or Hilbert functions), what are the main theoretical open problems in the area?
 </li>
 
 <li class="fragment" data-fragment-index="5">
 What are the main obstacles to bridging theory and applications?
 </li>
 
 </ul>
 
  </div>
  
 </section>
</div>

  </div>

  <script src="../dist/reveal.js"></script>
  <script src="../plugin/markdown/markdown.js"></script>
  <script src="../plugin/math/math.js"></script>
  <script>
 Reveal.initialize({dependencies: [
 { src: './mouse-pointer.js' }],
 history: true,
 transition: 'linear',

 math: {
 // mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
 config: 'TeX-AMS_HTML-full',
 TeX: {
  Macros: {
 bm: ["{\\boldsymbol{#1}}", 1],  //
 R: '\\mathbb{R}',
 set: [ '\\left\\{#1 \\; ; \\; #2\\right\\}', 2 ]
  }
 }
 },

 plugins: [ RevealMarkdown, RevealMath ]
 });
  </script>

 </body>
</html>
