<!doctype html>
<html lang="en">

 <head>
  <meta charset="utf-8">

  <title>reveal.js - Math Plugin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="../dist/reveal.css">
  <link rel="stylesheet" href="../dist/theme/whiteme.css" id="theme">
  <style>
   div.fixed {
   position: fixed;
   top: 0;
   right: -70px;
   width: 300px;
   }
  </style>
  <style>
  div.fijo {
  position: fixed;
  bottom:-100px;
  right: -100px;
  width: 500px;
  }
 </style> 
 </head>

 <body>

  <div class="reveal">

   <div class="slides">
<section>
    <h3>What a mathematician do?</h3>
    <small> Dr. <a href="https://sites.google.com/site/nvillami/">Nelly Villamizar</a><br>Department of Mathematics, Swansea University 
     
<p></p><br><br><br><br>  
 Skype a scientist <a href="https://www.georgetownisd.org/cooper">Cooper Elementary</a> <br>November 29, 2021</small>
 </section>
<section>
 <section>
  <h4>Places where I have lived</h4>
  <a href="https://www.google.com/maps/place/Pamplona,+North+Santander,+Colombia/@11.0117989,-50.5846679,3z/data=!4m5!3m4!1s0x8e68811722aa0c15:0x83b790e98f7db7d4!8m2!3d7.3733625!4d-72.6525879?hl=en"><img src="../../Figures/mapab.png" style="width:100%"></a> 
  </section> 
<section>
 <iframe data-src="https://www.google.com/maps/d/u/0/embed?mid=1tRnatEmjLa5rI5rg2UagBFumi3D25IQm" width="100%" height="600"></iframe>
</section>  
 </section>
<section>
<h3>I work here</h3>
 <section>
  <img src="../../Figures/swansea-university-16.jpg" style="width:80%">
  </section> 
 <section>
<img src="../../Figures/meoffice.jpg" style="width:70%">
</section> 
</section>

<section>
 <section>
  <h4>What do I do as a mathematician?</h4> 
  <img src="../../Figures/problem_solver.jpg" style="width:100%"> 
 </br><a>I solve problems using...</a>  
  </section>
  <section>
  <h4>Shapes</h4> 
  <img src="../../Figures/munequito.jpg" style="width:100%"> 
  </br><a>We like to play the shape of things!</a>
 </section>
 <section>
  <h4>Numbers</h4> 
  <img src="../../Figures/numbers.png" style="width:100%"> 
  </br><a> We write everything with numbers and symbols</a>
 </section>
 <section>
  <h4>Patterns</h4> 
 <img src="../../Figures/patterns_nature.png" style="width:100%"> 
 </br><a> We are always looking for patterns!</a>
 </section>
 
  <section>
   <h4>Computers</h4> 
   <img src="../../Figures/supercomputers.jpeg" style="width:80%"> </br>
   <a> We use very powerful computers!</a>
   </section>
</section>

<section>
  <h4>How do we communicate with computers?</h4></br>
  <section>
<div class="row">
 <div class="column">
&nbsp;</br>  
<img src="../../Figures/binary_upper.jpg" style="width:90%"> 
</div>
<div class="column">
 </br><a>What is the message?</a></br>
    <ul>
    <span style="font-size:36px;">  <li>01001000
     </li>
     <li> 01000101
     </li>
     <li>01001100
     </li>
    <li>01001100
    </li>
   <li>01001111
   </li>
  <li>01010111
  </li>
 <li>01001111
 </li>
 <li>01010010
</li>
 <li>01001100
</li>
 <li>01000100
</li>
  </span> </ul>
 </div>
</div>
  </section> 
   <section>
    <div class="row">
     <div class="column">
      &nbsp;</br>
      <img src="../../Figures/binary_upper.jpg" style="width:90%"> 
      </div>
      <div class="column">
      </br><a>What is the message?</a></br>
    <ul>
     <span style="font-size:36px;">  
      <li>01001000&nbsp;&nbsp;<a>H</a>
      </li>
      <li> 01000101&nbsp;&nbsp;<a>E</a>
      </li>
      <li>01001100&nbsp;&nbsp;<a>L</a>
      </li>
      <li>01001100&nbsp;&nbsp;<a>L</a>
      </li>
      <li>01001111&nbsp;&nbsp;<a>O</a>
      </li>
      <li>01010111&nbsp;&nbsp;<a>W</a>
      </li>
      <li>01001111&nbsp;&nbsp;<a>O</a>
      </li>
      <li>01010010&nbsp;&nbsp;<a>R</a>
      </li>
      <li>01001100&nbsp;&nbsp;<a>L</a>
      </li>
      <li>01000100&nbsp;&nbsp;<a>D</a>
      </li>
     </span> </ul>
     </div>
   </div>
   </section>
  
</section>
<section>
  <section> 
 <h4>How to draw in a computer?</h4>
 <div class="row">
  <div class="column"> 
   <video data-autoplay src="../../Figures/timely_crop.mp4" style="width:90%">
   </video></br>
 </div>
 <div class="column">
  <div class="r-stack">
   <p class="fragment fade-out" data-fragment-index="0">
    <img src="../../Figures/Bezier-2.png" style="width:50%"><img src="../../Figures/Bezier-3.png" style="width:50%"><img src="../../Figures/Bcubic-3.png" style="width:70%"></p>
     <p class="fragment">
      <img src="../../Figures/GarisGame.jpg" style="width:100%"><img src="../../Figures/Warcraft.jpg" style="width:100%"></p>
     </div>     
     
    </div> 
   </div>
 </section>
<section>
 <video data-autoplay src="../../Figures/pixar.mp4" style="width:100%">
 </video>
</section>
<section>
 <h3>Design of aircrafts</h3>
 <figure><img src="../../Figures/avion_mesh.png" style="width:75%"><figcaption><small>Mustang Mk. III by M. Cel OpenVSP and flow5</small></figcaption></figure> 
 </section>
<section>
<h3>Architectural geometry</h3>
<figure><img src="../../Figures/techo.jpg" style="width:100%"><figcaption><small></br>
   Art exhibition in the Louvre, Paris</small></figcaption></figure> 
</section>
<section>
 <figure><img src="../../Figures/woodenroof.jpg" style="width:35%"><img src="../../Figures/disney.png" style="width:65%"><figcaption><small>
    Centre Pompidou in Metz, France $\quad$/$\quad$ Walt Disney Concert Hall in Los Angeles</small></figcaption></figure> 
</section>
</section>
<section>
 <h4>Where do we start?</h4>
  <h4>Geometry</h4>      
  <video onclick="this.play()" loop src="../../Figures/tensor2.mp4" style="width:40%">
  </video>
<img src="../../Figures/regular.jpg" style="width:40%"> 
<h4>Algebra</h4>
<small>\[ 2 + ? = 5 \quad \Leftrightarrow\quad 2+ x =5 \qquad 2 \times ? = 6 \quad \Leftrightarrow \quad 2 \times x =6 \]
&nbsp; &nbsp; What number multiplied by itself 2 times gives 4? $\quad x\times x =4$
 </small>
</section>
 <section>
  <section>
 <h4>Design mechanical devises to draw a curve</h4> 
<video data-autoplay loop src="../../Figures/Ellipse.mp4" style="width 100%">
</video>
</section>
 <section>
   <h4>Design mechanical devises to draw your signature </h4> 
 <div class="row">
  <div class="column">
   <small style="text-align:left;"> <b></b> </br>
</br>
<img src="../../Figures/JohnHancocksSignature.png" style="width:100%"> </br> </br>
</small>
</div> 
<div class="column"> 
<video data-autoplay src="../../Figures/HancockJ3D.mp4" style="width:100%">
</video>
</div>
</div> 
</section>
</section>
   </div>
  </div>
  <script src="../dist/reveal.js"></script>
  <script src="../plugin/markdown/markdown.js"></script>
  <script src="../plugin/math/math.js"></script>
  <script>
   Reveal.initialize({dependencies: [
     { src: './mouse-pointer.js' }],
    history: true,
    transition: 'linear',

    math: {
     // mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
     config: 'TeX-AMS_HTML-full',
     TeX: {
      Macros: {
       R: '\\mathbb{R}',
       set: [ '\\left\\{#1 \\; ; \\; #2\\right\\}', 2 ]
      }
     }
    },

    plugins: [ RevealMarkdown, RevealMath ]
   });
  </script>

 </body>
</html>
